JJComponentUpdateKit.xcodeproj/xcuserdata/
JJComponentUpdateKit.xcodeproj/project.xcworkspace/

Example/JJComponentUpdateKitDemo/JJComponentUpdateKitDemo.xcodeproj/xcuserdata/
Example/JJComponentUpdateKitDemo/JJComponentUpdateKitDemo.xcodeproj/project.xcworkspace/

